.bg-primary {
  background-color: #007bff !important;
}

.bg-danger {
  background-color: #dc3545 !important;
}

.bg-success {
  background-color: #28a745 !important;
}

.bg-warning {
  background-color: #ffc107 !important;
}

.text-white {
  color: white !important;
}

.text-white h2, .text-white h3 {
  color: white !important;
}

.ant-form-item {
  margin-bottom: 10px;
}