<li (click)="onEditar()"  class="list-group-item card-evento">
    <div class="left">
        <span class="data">
            <fa-icon class="me-1" [icon]="faCalendar"></fa-icon>{{evento.dataEvento | date: 'dd/MM/yyyy'}}
        </span>
        <span class="hora">
            <fa-icon class="me-1" [icon]="faClock"></fa-icon>{{(evento.dataEvento | date: 'HH:mm')}}
        </span>
        @if(!evento.presencial && evento.tipo == 'AUDIENCIA'){
            <fa-icon [icon]="faVideo"></fa-icon>
        }
    </div>
    
    <div class="right">
        <span [ngClass]="{
            'evento-concluido': evento.status === 'CONCLUIDO',
            'evento-cancelado': evento.status === 'CANCELADO'
        }" class="titulo">
            @if(evento.status == 'CONCLUIDO'){
                <fa-icon [icon]="faCheckCircle"></fa-icon>
            }
            @if(evento.status == 'CANCELADO'){
                <fa-icon [icon]="faTimes"></fa-icon>
            }
            
            {{getTextoReduzido(evento.titulo)}}
        </span>

        <span><b>Tipo: </b> {{evento.tipo}}</span>
        
        @if(evento.processo){
            <span>
                <b>Autor: </b>
                {{ evento.processo.autores[0].nome }}
                @if(evento.processo.autores.length > 1){
                    e Outros
                }
                @if(evento.processo.autores[0].isCliente){
                    <icon-cliente></icon-cliente>
                }
            </span>
            <span>
                <b>Réu: </b>
                {{ evento.processo.reus[0].nome }}
                @if(evento.processo.reus.length > 1){
                    e Outros
                }
                @if(evento.processo.reus[0].isCliente){
                    <icon-cliente></icon-cliente>
                }
            </span>
        }
        
        @if(evento.processo){
            <span><b>Nro. Processo:</b> {{evento.processo.nroProcesso | nroProcesso}}</span>
        }

        
        <span><b>Responsável:</b> {{evento.responsavel.nome}}</span>
        
        
        @if(evento.local){
            <span><b>Local: </b>{{evento.local}}</span>
        }
        @if(evento.linkAudiencia){
            <a target="_blank" [href]="evento.linkAudiencia" (click)="$event.stopPropagation()">Ir a reunião</a>
        }
    </div>

    <div class="end">
        <button nz-button nzType="primary" nz-tooltip="Editar" hasRole="LISTAR_EVENTO" (click)="onEditar();$event.stopPropagation()" class="me-1">
            <fa-icon [icon]="faPencil"></fa-icon>
            
        </button>
        <button nz-button nzType="primary" nzDanger nz-tooltip="Excluir" hasRole="EXCLUIR_EVENTO" (click)="onExcluir();$event.stopPropagation()" class="btn btn-danger">
            <fa-icon [icon]="faTrash"></fa-icon>
            
        </button>
    </div>
</li>