<div class="container">
    <btn-novo hasRole="CADASTRAR_PARTE" (clickEvent)="openModalFormParte()" title="Nova parte"></btn-novo>
    <div class="col-sm-12 mb-2" hasRole="CADASTRAR_PROCESSO">
      <nz-form-item>
        <nz-form-label [nzSpan]="24">Selecione Réus</nz-form-label>
        <nz-form-control [nzSpan]="24">
          <select-autocomplete [shouldReset]="true" id="autor" [title]="'Selecione os réus'" [filterBy]="'nome'"
          (selectedEvent)="reuSelected($event)" (changeEvent)="onChangeReu($event)" [items]="reus"
          [icon]="faAddressCard" [checkBy]="'isCliente'"></select-autocomplete>
        </nz-form-control>
      </nz-form-item>
    </div>
    <h4>Réus</h4>
    <div class="table-responsive">
      <nz-table [nzData]="reusSelecionados" [nzBordered]="true" [nzSize]="'small'"
        [nzShowPagination]="false">
        <thead>
          <tr>
            <th nzWidth="50%">Nome</th>
            <th >Ações</th>
          </tr>
        </thead>
        <tbody>
          @for(reu of reusSelecionados; track $index){
          <tr>
            <td>
              @if(reu.isCliente){
                <icon-cliente></icon-cliente>
              }
              {{ reu.nome }}
            </td>
            <td>
              <button nz-button nzType="default" nzDanger nzSize="small" (click)="deleteReu(reu, $index)"
                nz-tooltip="Excluir">
                <fa-icon [icon]="faTrash"></fa-icon>
              </button>
            </td>
          </tr>
          }
        </tbody>
      </nz-table>
    </div>
  </div>