<h2>Cadastro de Processos</h2>
<div class="container">
  <main>
    <div class="row g-5">
      <div class="col-md-12">
        <form class="needs-validation" [formGroup]="formProcesso">

          <nz-tabset>
            <nz-tab [nzTitle]="'Processo'">,
              <!-- Botões de novo -->
              <div nz-row [nzGutter]="8" class="mb-1">
                <div nz-col>
                  <btn-novo (click)="openModalFormDono()" hasRole="CADASTRAR_PROCESSO" title="Novo dono"></btn-novo>
                </div>
                <div nz-col>
                  <btn-novo (click)="openModalFormResponsavel()" hasRole="CADASTRAR_USUARIO" title="Novo responsável"></btn-novo>
                </div>
                <div nz-col>
                  <btn-novo (click)="openModalFormComarca()" hasRole="CADASTRAR_PROCESSO" title="Nova comarca"></btn-novo>
                </div>
                <div nz-col>
                  <btn-novo (click)="openModalFormCompetencia()" hasRole="CADASTRAR_PROCESSO" title="Nova competência"></btn-novo>
                </div>
                <div nz-col>
                  <btn-novo (click)="openModalFormSistema()" hasRole="CADASTRAR_PROCESSO" title="Novo sistema"></btn-novo>
                </div>
                <div nz-col>
                  <btn-novo (click)="openModalFormSituacao()" hasRole="CADASTRAR_PROCESSO" title="Nova situação"></btn-novo>
                </div>
              </div>
              <form [formGroup]="formProcesso" nz-form [nzLayout]="'vertical'">
                <h3>Dados do Processo</h3>

                <!-- Dono do processo -->
                <div nz-row [nzGutter]="16">
                  <div nz-col [nzSpan]="12">
                    <nz-form-item>
                      <nz-form-label [nzSpan]="24" nzRequired >Dono do Processo</nz-form-label>
                      <nz-form-control [nzSpan]="24">
                        <input nz-input [formControl]="donoNomeControl" [nzAutocomplete]="autoDono"
                          (input)="onChangeDono($event)" placeholder="Selecione o dono do processo" />
                        <nz-autocomplete #autoDono (selectionChange)="selecionarDono($event)">
                          @for(dono of donos; track $index) {
                          <nz-auto-option [nzValue]="dono">{{ dono.nome }}</nz-auto-option>
                          }
                        </nz-autocomplete>
                        @if(donoNomeControl.invalid && donoNomeControl.touched){
                        <div>
                          @if(donoNomeControl.hasError('required')){
                          <span class="text-danger">
                            O campo é obrigatório.
                          </span>
                          }
                        </div>
                        }
                      </nz-form-control>
                    </nz-form-item>
                  </div>

                  <div nz-col [nzSpan]="12">
                    <!-- Responsável -->
                    <nz-form-item>
                      <nz-form-label [nzSpan]="24" nzRequired="">Responsável pelo Processo</nz-form-label>
                      <nz-form-control [nzSpan]="24">
                        <input nz-input [formControl]="responsavelNomeControl" [nzAutocomplete]="autoResponsavel"
                          (input)="onChangeResponsavel($event)" placeholder="Selecione o responsável do processo"/>
                        <nz-autocomplete #autoResponsavel (selectionChange)="selecionarResponsavel($event)">
                          @for(responsavel of responsaveis; track $index) {
                          <nz-auto-option [nzValue]="responsavel">{{ responsavel.nome }}</nz-auto-option>
                          }
                        </nz-autocomplete>
                        @if(responsavelNomeControl.invalid && responsavelNomeControl.touched){
                        <div>
                          @if(responsavelNomeControl.hasError('required')){
                          <span class="text-danger">
                            O campo é obrigatório.
                          </span>
                          }
                        </div>
                        }
                      </nz-form-control>
                    </nz-form-item>
                  </div>
                </div>


                <!-- Linha 1 -->
                <div nz-row [nzGutter]="16">
                  <div nz-col [nzSpan]="8">
                    <nz-form-item>
                      <nz-form-label nzRequired="">Tipo de Ação</nz-form-label>
                      <nz-form-control>
                        <input nz-input formControlName="tipoAcao" placeholder="Tipo de Ação" />
                        @if(isInvalidAndTouched('tipoAcao')) {
                        <div class="text-danger">O campo é obrigatório</div>
                        }
                      </nz-form-control>
                    </nz-form-item>
                  </div>

                  <div nz-col [nzSpan]="8">
                    <nz-form-item>
                      <nz-form-label nzRequired>Nº Processo</nz-form-label>
                      <nz-form-control>
                        <input nz-input formControlName="nroProcesso" mask="0000000.00.0000.0.00.0000"
                          placeholder="Nº Processo" />
                        @if(isInvalidAndTouched('nroProcesso')) {
                        @if(getError('nroProcesso', 'required')) {
                        <div class="text-danger">O campo é obrigatório</div>
                        }
                        @if(getError('nroProcesso', 'mask')) {
                        <div class="text-danger">Número processo inválido</div>
                        }
                        @if(getError('nroProcesso', 'existingProcess')) {
                        <div class="text-danger">Já existe processo com este número</div>
                        }
                        }
                      </nz-form-control>
                    </nz-form-item>
                  </div>

                  <div nz-col [nzSpan]="8">
                    <nz-form-item>
                      <nz-form-label>Vara*</nz-form-label>
                      <nz-form-control>
                        <input nz-input formControlName="vara" placeholder="Vara" />
                        @if(isInvalidAndTouched('vara')) {
                        <div class="text-danger">O campo é obrigatório</div>
                        }
                      </nz-form-control>
                    </nz-form-item>
                  </div>
                </div>

                <!-- Linha 2 -->
                <div nz-row [nzGutter]="16">
                  <div nz-col [nzSpan]="8">
                    <!-- Comarca -->
                    <nz-form-item>
                      <nz-form-label [nzSpan]="24" nzRequired>Comarca</nz-form-label>
                      <nz-form-control [nzSpan]="24">
                        <input nz-input [formControl]="comarcaNomeControl" [nzAutocomplete]="autoComarca"
                          (input)="onChangeComarca($event)" placeholder="Selecione a comarca" />
                        <nz-autocomplete #autoComarca (selectionChange)="selecionarComarca($event)">
                          @for(comarca of comarcas; track $index) {
                          <nz-auto-option [nzValue]="comarca">{{ comarca.nome }}</nz-auto-option>
                          }
                        </nz-autocomplete>
                        @if(comarcaNomeControl.invalid && comarcaNomeControl.touched){
                        <div>
                          @if(comarcaNomeControl.hasError('required')){
                          <span class="text-danger">
                            O campo é obrigatório.
                          </span>
                          }
                        </div>
                        }
                      </nz-form-control>
                    </nz-form-item>
                  </div>

                  <div nz-col [nzSpan]="8">
                    <nz-form-item>
                      <nz-form-label nzRequired="">Competência</nz-form-label>
                      <nz-form-control>
                        <nz-select formControlName="competenciaId" nzPlaceHolder="Selecione uma competência">
                          @for(competencia of competencias; track competencia.id) {
                          <nz-option [nzValue]="competencia.id" [nzLabel]="competencia.nome"></nz-option>
                          }
                        </nz-select>
                        @if(isInvalidAndTouched('competenciaId')) {
                        <div class="text-danger">O campo é obrigatório</div>
                        }
                      </nz-form-control>
                    </nz-form-item>
                  </div>

                  <div nz-col [nzSpan]="8">
                    <nz-form-item>
                      <nz-form-label nzRequired>Sistema</nz-form-label>
                      <nz-form-control>
                        <nz-select formControlName="sistemaId" nzPlaceHolder="Selecione um sistema">
                          @for(sistema of sistemas; track sistema.id) {
                          <nz-option [nzValue]="sistema.id" [nzLabel]="sistema.nome"></nz-option>
                          }
                        </nz-select>
                        @if(isInvalidAndTouched('sistemaId')) {
                        <div class="text-danger">O campo é obrigatório</div>
                        }
                      </nz-form-control>
                    </nz-form-item>
                  </div>
                </div>

                <!-- Linha 3 -->
                <div nz-row [nzGutter]="16">
                  <div nz-col [nzSpan]="8">
                    <nz-form-item>
                      <nz-form-label nzRequired>Situação Atual</nz-form-label>
                      <nz-form-control>
                        <nz-select formControlName="situacaoProcessoId" nzPlaceHolder="Selecione uma situação">
                          @for(situacao of situacoes; track situacao.id) {
                          <nz-option [nzValue]="situacao.id" [nzLabel]="situacao.descricao"></nz-option>
                          }
                        </nz-select>
                        @if(isInvalidAndTouched('situacaoProcessoId')) {
                        <div class="text-danger">O campo é obrigatório</div>
                        }
                      </nz-form-control>
                    </nz-form-item>
                  </div>

                  <div nz-col [nzSpan]="8">
                    <nz-form-item>
                      <nz-form-label>Data de Distribuição</nz-form-label>
                      <nz-form-control>
                        <input nz-input formControlName="dataDistribuicao" type="date" />
                      </nz-form-control>
                    </nz-form-item>
                  </div>
                </div>

                <!-- Observação -->
                <nz-form-item>
                  <nz-form-label>Observação</nz-form-label>
                  <nz-form-control>
                    <textarea nz-input formControlName="observacao" rows="5"
                      placeholder="Digite observações..."></textarea>
                  </nz-form-control>
                </nz-form-item>
              </form>
            </nz-tab>

            <nz-tab nzTitle="Autores">
              <div class="container">
                <btn-novo hasRole="CADASTRAR_PARTE" (clickEvent)="openModalFormParte()" title="Nova parte"></btn-novo>
                <div class="col-sm-12 mb-2" hasRole="CADASTRAR_PROCESSO">
                  <nz-form-item>
                    <nz-form-label [nzSpan]="24">Selecione Autores</nz-form-label>
                    <nz-form-control [nzSpan]="24">
                      <input nz-input [nzAutocomplete]="autoAutores" [formControl]="autorNomeControl"
                        (input)="onChangeAutor($event)" placeholder="Selecione os autores" />

                      <nz-autocomplete #autoAutores (selectionChange)="addAutor($event)">
                        @for(autor of autores; track $index) {
                        <nz-auto-option [nzValue]="autor.nome">
                          @if(autor.isCliente){
                          <icon-cliente></icon-cliente>
                          }
                          {{ autor.nome }}
                        </nz-auto-option>
                        }
                      </nz-autocomplete>
                    </nz-form-control>
                  </nz-form-item>
                </div>
                <h4>Autores</h4>
                <div class="table-responsive">
                  <nz-table [nzData]="autoresSelecionados" [nzBordered]="true" [nzSize]="'small'"
                    [nzShowPagination]="false">
                    <thead>
                      <tr>
                        <th>Nome</th>
                        <th>Ações</th>
                      </tr>
                    </thead>
                    <tbody>
                      @for(autor of autoresSelecionados; track $index){
                      <tr>
                        <td>{{ autor.nome }}</td>
                        <td>
                          <button nzSize="small" (click)="deleteAutor($index)" nz-tooltip nzTooltipTitle="Excluir"
                            nzTooltipPlacement="top" nz-button nzType="default" nzDanger>
                            <span nz-icon nzType="delete"></span>
                          </button>
                        </td>
                      </tr>
                      }
                    </tbody>
                  </nz-table>
                </div>
              </div>
            </nz-tab>

            <nz-tab nzTitle="Réus">
              <div class="container">
                <btn-novo hasRole="CADASTRAR_PARTE" (clickEvent)="openModalFormParte()" title="Nova parte"></btn-novo>
                <div class="col-sm-12 mb-2" hasRole="CADASTRAR_PROCESSO">
                  <nz-form-item>
                    <nz-form-label [nzSpan]="24">Selecione Réus</nz-form-label>
                    <nz-form-control [nzSpan]="24">
                      <input nz-input [nzAutocomplete]="autoReus" [formControl]="reuNomeControl"
                        (input)="onChangeReu($event)" placeholder="Selecione os réus" />

                      <nz-autocomplete #autoReus (selectionChange)="addReu($event)">
                        @for(reu of reus; track $index) {
                        <nz-auto-option [nzValue]="reu.nome">
                          @if(reu.isCliente){
                          <icon-cliente></icon-cliente>
                          }
                          {{ reu.nome }}
                        </nz-auto-option>
                        }
                      </nz-autocomplete>
                    </nz-form-control>
                  </nz-form-item>
                </div>
                <h4>Réus</h4>
                <div class="table-responsive">
                  <nz-table [nzData]="reusSelecionados" [nzBordered]="true" [nzSize]="'small'"
                    [nzShowPagination]="false">
                    <thead>
                      <tr>
                        <th>Nome</th>
                        <th>Ações</th>
                      </tr>
                    </thead>
                    <tbody>
                      @for(reu of reusSelecionados; track $index){
                      <tr>
                        <td>{{ reu.nome }}</td>
                        <td>
                          <button nzSize="small" (click)="deleteReu($index)" nz-tooltip nzTooltipTitle="Excluir"
                            nzTooltipPlacement="top" nz-button nzType="default" nzDanger>
                            <span nz-icon nzType="delete"></span>
                          </button>
                        </td>
                      </tr>
                      }
                    </tbody>
                  </nz-table>
                </div>
              </div>
            </nz-tab>

            <nz-tab nzTitle="Históricos">
              <div class="container">
                <app-form-historico hasRole="CADASTRAR_PROCESSO"
                  (submitEvent)="addHistorico($event)"></app-form-historico>
                <h3 class="mt-2">Histórico</h3>
                @for(historico of historicos; track $index){
                <app-card-historico (deleteEvent)="deleteHistorico($event)"
                  [historico]="historico"></app-card-historico>
                }@empty {
                <span>Não há nenhum histórico</span>
                }
              </div>
            </nz-tab>

            <nz-tab nzTitle="Diligências">
              <div class="container">
                <btn-novo hasRole="CADASTRAR_PROCESSO" title="Nova diligência"
                  (clickEvent)="openModalFormDiligencia()"></btn-novo>
                <h3 class="mb-3 mt-2">Diligências</h3>

                <nz-table [nzData]="diligencias" [nzShowPagination]="false" nzBordered
                  nzSize="middle" class="mb-3">
                  <thead>
                    <tr>
                      <th>Descrição</th>
                      <th>Responsável</th>
                      <th>Presencial</th>
                      <th>Local</th>
                      <th>Data/Hora</th>
                      <th>Ações</th>
                    </tr>
                  </thead>
                  <tbody>
                    @for (diligencia of diligencias; track $index) {
                    <tr>
                      <td>{{ getTextoReduzido(diligencia.descricao) }}</td>
                      <td>{{ diligencia.responsavel.nome }}</td>
                      <td>{{ diligencia.presencial ? 'Sim' : 'Não' }}</td>
                      <td>{{ diligencia.local || 'N/A' }}</td>
                      <td>{{ diligencia.dataDiligencia | date: 'dd/MM/yyyy HH:mm:ss' }}</td>
                      <td>
                        <button nz-button nzType="default" nzDanger nzSize="small" (click)="deleteDiligencia($index)"
                          nz-tooltip="Excluir">
                          <fa-icon [icon]="faTrash"></fa-icon>
                        </button>
                      </td>
                    </tr>
                    }
                  </tbody>
                </nz-table>

                <ng-template #emptyState>
                  <div class="text-muted mt-3">Não há nenhuma diligência</div>
                </ng-template>
              </div>


            </nz-tab>

            <nz-tab nzTitle="Audiências">
              <div class="container">
                <btn-novo hasRole="CADASTRAR_PROCESSO" title="Nova audiência"
                  (clickEvent)="openModalFormAudiencia()"></btn-novo>
                <h3 class="mb-3 mt-2">Audiências</h3>

                <nz-table [nzData]="audiencias" [nzShowPagination]="false" nzBordered
                  nzSize="middle" class="mb-3">
                  <thead>
                    <tr>
                      <th>Descrição</th>
                      <th>Presencial</th>
                      <th>Local</th>
                      <th>Data/Hora</th>
                      <th>Ações</th>
                    </tr>
                  </thead>
                  <tbody>
                    @for(audiencia of audiencias; track $index){
                    <tr>
                      <td>{{ getTextoReduzido(audiencia.descricao) }}</td>
                      <td>{{ audiencia.presencial ? 'Sim' : 'Não' }}</td>
                      <td>{{ audiencia.local || 'N/A' }}</td>
                      <td>{{ audiencia.dataAudiencia | date: 'dd/MM/yyyy HH:mm:ss' }}</td>
                      <td>
                        <button nz-button nzType="default" nzDanger nzSize="small" (click)="deleteAudiencia($index)"
                          nz-tooltip="Excluir">
                          <fa-icon [icon]="faTrash"></fa-icon>
                        </button>
                      </td>
                    </tr>
                    }
                  </tbody>
                </nz-table>

                <ng-template #emptyState>
                  <div class="text-muted mt-3">Não há nenhuma audiência</div>
                </ng-template>
              </div>
            </nz-tab>

            <nz-tab nzTitle="Documentos">
              <div class="container">
                <h3>Documentos</h3>
              
                <div class="row" hasRole="CADASTRAR_PROCESSO">
                  <div class="col-12">
                    <app-upload-file (filesDropped)="onFilesDropped($event)"></app-upload-file>
                  </div>
                </div>
              
                <nz-table
                  [nzData]="documentos"
                  [nzShowPagination]="false"
                  nzBordered
                  nzSize="middle"
                  class="mt-3"
                >
                  <thead>
                    <tr>
                      <th>Nome</th>
                      <th>Tipo</th>
                      <th>Ações</th>
                    </tr>
                  </thead>
                  <tbody>
                    @for(documento of documentos; track $index){
                      <tr>
                        <td>
                          <a [href]="documento.urlLocal" target="_blank">{{ documento.nome }}</a>
                        </td>
                        <td>{{ documento.tipo }}</td>
                        <td>
                          <button
                            nz-button
                            nzType="default"
                            nzDanger
                            nzSize="small"
                            (click)="deleteDocumento($index)"
                            nz-tooltip="Excluir"
                          >
                            <fa-icon [icon]="faTrash"></fa-icon>
                          </button>
                        </td>
                      </tr>
                    }
                  </tbody>
                </nz-table>
              
                <ng-template #emptyState>
                  <div class="text-muted mt-3">Não há nenhum documento</div>
                </ng-template>
              </div>              
            </nz-tab>

          </nz-tabset>

          <div class="container mt-2">
            <btn-cadastrar class="me-1" hasRole="CADASTRAR_PROCESSO" (clickEvent)="onSubmit()"></btn-cadastrar>
            <btn-voltar></btn-voltar>
          </div>
        </form>
      </div>
    </div>
  </main>

</div>

<ngx-spinner type="ball-clip-rotate-multiple"></ngx-spinner>