<div class="container">
    <btn-novo hasRole="CADASTRAR_PARTE" (clickEvent)="openModalFormParte()" title="Nova parte"></btn-novo>
    <div class="col-sm-12 mb-2" hasRole="CADASTRAR_PROCESSO">
      <nz-form-item>
        <nz-form-label [nzSpan]="24">Selecione Autores</nz-form-label>
        <nz-form-control [nzSpan]="24">
          <input nz-input [nzAutocomplete]="autoAutores" [formControl]="autorNomeControl"
            (input)="onChangeAutor($event)" placeholder="Selecione os autores" />

          <nz-autocomplete #autoAutores (selectionChange)="addAutor($event)">
            @for(autor of autores; track $index) {
            <nz-auto-option [nzValue]="autor.nome">
              @if(autor.isCliente){
              <icon-cliente></icon-cliente>
              }
              {{ autor.nome }}
            </nz-auto-option>
            }
          </nz-autocomplete>
        </nz-form-control>
      </nz-form-item>
    </div>
    <h4>Autores</h4>
    <div class="table-responsive">
      <nz-table [nzData]="autoresSelecionados" [nzBordered]="true" [nzSize]="'small'"
        [nzShowPagination]="false">
        <thead>
          <tr>
            <th>Nome</th>
            <th>Ações</th>
          </tr>
        </thead>
        <tbody>
          @for(autor of autoresSelecionados; track $index){
          <tr>
            <td>{{ autor.nome }}</td>
            <td>
              <button nzSize="small" (click)="deleteAutor($index)" nz-tooltip nzTooltipTitle="Excluir"
                nzTooltipPlacement="top" nz-button nzType="default" nzDanger>
                <span nz-icon nzType="delete"></span>
              </button>
            </td>
          </tr>
          }
        </tbody>
      </nz-table>
    </div>
  </div>