<h2 nzTitle class="text-center">Grupos</h2>

<div class="mb-3">
  <btn-novo hasRole="CADASTRAR_PARTE" (clickEvent)="openFormGrupo()" title="Novo grupo"></btn-novo>
</div>

<form nz-form [formGroup]="filtroForm" (ngSubmit)="getGrupos()" nzLayout="vertical">
  <div nz-row [nzGutter]="16">
    <div nz-col [nzSpan]="12">
      <nz-form-item>
        <nz-form-label for="nome">Nome</nz-form-label>
        <nz-form-control>
          <input formControlName="nome" id="nome" nz-input placeholder="Nome" />
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>

  <div class="mb-2 d-flex gap-2">
    <btn-pesquisar class="me-1"></btn-pesquisar>
    <btn-limpar (clickEvent)="limpar()"></btn-limpar>
  </div>
</form>

<div class="mb-2 mt-1">
  <span>{{ grupos.length }} grupos encontrados.</span>
</div>

<nz-table [nzData]="grupos" [nzBordered]="true" [nzSize]="'middle'" [nzShowPagination]="false">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Sob Aprovação</th>
      <th>Data de Cadastro</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    @for(grupo of grupos; track grupo.id){
    <tr>
      <td>{{ grupo.nome }}</td>
      <td>{{ grupo.sobAprovacao ? 'Sim' : 'Não' }}</td>
      <td>{{ grupo.createdAt | date: 'dd/MM/yyyy' }}</td>
      <td>
        <button hasRole="'LISTAR_GRUPO'" nzSize="small" nz-button nzType="primary" nz-tooltip="Visualizar"
          (click)="editarGrupo(grupo.id)" class="me-1">
          <fa-icon [icon]="faEye"></fa-icon>
        </button>
        <button hasRole="'EXCLUIR_GRUPO'" nzSize="small" nz-button nzType="default" nzDanger nz-tooltip="Excluir"
          (click)="deleteGrupo(grupo.id)">
          <fa-icon [icon]="faTrash"></fa-icon>
        </button>
      </td>
    </tr>
    }
  </tbody>
</nz-table>
