<form nz-form [formGroup]="form" (ngSubmit)="submit()" nzLayout="vertical">
    <!-- Campo Nome -->
    <nz-form-item>
      <nz-form-label [nzRequired]="true" nzFor="nome">Nome</nz-form-label>
      <nz-form-control [nzErrorTip]="'O campo é obrigatório'">
        <input nz-input formControlName="nome" id="nome" maxlength="100" placeholder="Nome" />
      </nz-form-control>
    </nz-form-item>
  
    <!-- Botão -->
    <nz-form-item>
      <nz-form-control>
        @if (sistema) {
          <btn-cadastrar hasRole="EDITAR_SISTEMA" [title]="'Atualizar'"></btn-cadastrar>
        } @else {
          <btn-cadastrar hasRole="CADASTRAR_SISTEMA" [title]="'Cadastrar'"></btn-cadastrar>
        }
      </nz-form-control>
    </nz-form-item>
  </form>
  
  <ngx-spinner type="ball-clip-rotate-multiple"></ngx-spinner>
  