.box-processo {
    border-radius: 8px;        /* Cantos arredondados */
    padding: 10px;             /* Espaçamento interno */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* Sombra leve */
    background-color: #f8f9fa; /* Fundo claro */
}