<div class="container">
    <h3>Documentos</h3>
  
    <nz-table
      [nzData]="documentos"
      [nzShowPagination]="false"
      nzBordered
      nzSize="middle"
      class="mt-3"
    >
      <thead>
        <tr>
          <th>Nome</th>
          <th>Tipo</th>
        </tr>
      </thead>
      <tbody>
        @for(documento of documentos; track $index){
          <tr>
            <td>
              <a [href]="documento.url || documento.urlLocal" target="_blank">{{ documento.nome }}</a>
            </td>
            <td>{{ documento.tipo }}</td>
          </tr>
        }
      </tbody>
    </nz-table>
  
    <ng-template #emptyState>
      <div class="text-muted mt-3">Não há nenhum documento</div>
    </ng-template>
  </div>
