<h2 nz-title class="text-center">Competências</h2>
<div class="container mt-3">
    <btn-novo hasRole="CADASTRAR_COMARCA" (clickEvent)="openFormCompetencia()" title="Nova Competência"></btn-novo>

    <form [formGroup]="filtroForm" nz-form (ngSubmit)="getCompetencias()" nzLayout="vertical" class="mt-2">
        <div nz-row [nzGutter]="16">
            <div nz-col [nzSpan]="12">
                <nz-form-item>
                    <nz-form-label for="nome">Nome</nz-form-label>
                    <nz-form-control>
                        <input nz-input formControlName="nome" id="nome" placeholder="Nome" type="text" />
                    </nz-form-control>
                </nz-form-item>
            </div>
        </div>

        <div nz-row class="mb-3">
            <div nz-col [nzSpan]="12">
                <btn-pesquisar class="me-1"></btn-pesquisar>
                <btn-limpar (clickEvent)="limpar()"></btn-limpar>
            </div>
        </div>
    </form>

    <div class="mb-2 mt-1">
        <span>{{ competencias.length }} competências encontradas.</span>
    </div>

    <nz-table [nzData]="competencias" [nzBordered]="true" [nzSize]="'middle'">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Data de Cadastro</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            @for(competencia of competencias; track competencia.id){
            <tr>
                <td>{{ competencia.nome }}</td>
                <td>{{ competencia.createdAt | date: 'dd/MM/yyyy' }}</td>
                <td>
                    <button hasRole="LISTAR_COMPETENCIA" nz-tooltip="Visualizar" nz-button nzType="primary" nzSize="small"
                        class="me-1" (click)="openFormCompetencia(competencia.id)">
                        <fa-icon [icon]="faEye"></fa-icon>
                    </button>

                    <button hasRole="EXCLUIR_COMPETENCIA" nz-tooltip="Excluir" nz-button nzType="default" nzDanger
                        nzSize="small" (click)="deleteCompetencia(competencia.id)">
                        <fa-icon [icon]="faTrash"></fa-icon>
                    </button>
                </td>
            </tr>
            }

        </tbody>
    </nz-table>
</div>